<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro pessoa</title>
</head>
<body>
<h1>Cadastro pessoa</h1>

<form method="post">
    <label for="nome"> Nome:</label>
    <input id="nome" name="nome">
    <br/>

    <label for="idade"> Idade:</label>
    <input id="idade" name="idade">
    <br/>

    <label for="sexo"> Sexo:</label>
    <input id="sexo" name="sexo">
    <br/>

    <label for="profissao"> Profissão:</label>
    <input id="profissao" name="profissao">
    <br/>

    <input type="submit" value="Cadastrar">

</form>
</body>
</html>