<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{template.html}"
>
<head>
    <title>Cadastro pessoa</title>
</head>
<body>
<div layout:fragment="conteudo">
<h1>Cadastro pessoa</h1>

<form method="post" action="/pessoa">
    <input type="hidden" name="_method" value="put" th:if="${pessoa != null}">
    <input type="hidden" name="id" th:value="${pessoa?.id}">

    <div>
    <label for="nome"> Nome:</label>
    <input id="nome" name="nome" th:value="${pessoa?.nome}">
    </div>

    <div>
    <label for="idade"> Idade:</label>
    <input id="idade" name="idade" th:value="${pessoa?.idade}">
    </div>

    <div>
    <label for="sexo"> Sexo:</label>
    <input id="sexo" name="sexo" th:value="${pessoa?.sexo}">
    </div>

    <div>
    <label for="profissao"> Profissão:</label>
    <input id="profissao" name="profissao" th:value="${pessoa?.profissao}">
    </div>

    <input type="submit" value="Cadastrar">

</form>
</div>
</body>
</html>