<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorate="~{template.html}"
>
<head>
    <title>Cadastro pessoa</title>
</head>
<body>
<div layout:fragment="conteudo">
<h1>Cadastro pessoa</h1>

<form method="post" action="/pessoa">
    <label for="nome"> Nome:</label>
    <input id="nome" name="nome">
    <br/>

    <label for="idade"> Idade:</label>
    <input id="idade" name="idade">
    <br/>

    <label for="sexo"> Sexo:</label>
    <input id="sexo" name="sexo">
    <br/>

    <label for="profissao"> Profissão:</label>
    <input id="profissao" name="profissao">
    <br/>

    <input type="submit" value="Cadastrar">

</form>
</div>
</body>
</html>