<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista pessoas</title>
</head>
<body>

<div layout:fragment="conteudo">
<h1>Lista pessoas</h1>
    <a href="/pessoa/cadastro">Novo</a>


    <table>
    <thead>
    <tr>
        <th>NOME</th>
        <th>IDADE</th>
        <th>SEXO</th>
        <th>PROFISSÃO</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pessoa : ${lista}">
        <td th:text="${pessoa.nome}"></td>
        <td th:text="${pessoa.idade}"></td>
        <td th:text="${pessoa.sexo}"></td>
        <td th:text="${pessoa.profissao}"></td>
        <td>
            <a th:href="@{/pessoa/cadastro?id={id}(id=${pessoa.id})}">Editar</a>
            <form action="/pessoa" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" th:value="${pessoa.id}">

                <input type="submit" value="Excluir">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>